{% extends 'base.html' %} {% block content %}

<div class="container mt-4">
  <div class="row">
    <div class="col-md-10">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'job-index'%}">Jobs</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Edit Job
          </li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <form action="{% url 'job-edit' job.job_id %}" method="post" class="form-inline">
        {% include 'partials/_messages.html'%} {% csrf_token %}
      
        <div class="form-group col-md-6 " >
          <label for="" >Customer Name   </label>
          <input type="text"  class="form-control form-control-sm" name="customer_name" style="margin-left:92px" value="{{values.customer_name}}"/>
        </div>
          <div class="form-group col-md-6  ">
            <label for="">Customer Phone</label>
            <input type="text"  class="form-control form-control-sm" name="customer_phone" style="margin-left:50px" value="{{values.customer_phone}}"/>
          </div>
          <br><br>  <br><br>
          <div class="form-group col-md-6  ">
            <label for="">Customer Address</label>
            <input type="text"  class="form-control form-control-sm" name="customer_address" style="margin-left:80px" value="{{values.customer_address}}"/>
          </div>
          <div class="form-group col-md-6  ">
            <label for="">Customer E-Mail</label>
            <input type="email"  class="form-control form-control-sm" name="customer_email" style="margin-left:50px"  value="{{values.customer_email}}"/>
          </div>
          <br><br>  <br><br>

          <div class="form-group col-md-6  ">
            <label for="">Car Model</label>
            <input type="text"  class="form-control form-control-sm" name="car_model" style="margin-left:135px" value="{{values.car_model}}"/>
          </div>
          <div class="form-group col-md-6  ">
            <label for="">Car Chassis</label>
            <input type="text"  class="form-control form-control-sm" name="car_chassis"style="margin-left:85px" value="{{values.car_chassis}}"/>
          </div>

          <br><br>  <br><br>

          <div class="form-group col-md-6  ">
            <label for="">Car Number</label>
            <input type="text"  class="form-control form-control-sm" name="car_number"style="margin-left:120px" value="{{values.car_number}}"/>
          </div>
          <div class="form-group col-md-6  ">
            <label for="">Car Mileage</label>
            <input type="text"  class="form-control form-control-sm" name="car_mileage"  style="margin-left:82px"  value="{{values.car_mileage}}"/>
          </div>

          <br><br>  <br><br>
            <div class="form-group  col-md-6 ">
            <label for="">Car Color</label>
            <input type="text"  class="form-control form-control-sm" name="car_color" style="margin-left:82px" value="{{values.car_color}}"  >           
          </div>
   

          <br><br>  <br><br>

          <div class="form-group">
            <label for="">Job Comments</label>
            <input type="text" style="margin-top:32px ;margin-left:132px ; width:450px"  class="form-control form-control-sm"
            name="job_comments" rows="3"  value="{{values.job_comments}}"/>
    
          </div>

          <div class="form-group">
            <label for="">Job Notes </label>
         
            <input type="text" style="margin-top:32px ;margin-left:132px ; width:450px"  class="form-control form-control-sm"
             name="job_notes" rows="3"  value="{{values.job_notes}}"/>
          </div>
        
        
        </div>
          <br><br> 
          <input
          type="submit"
          value="Submit"
          class="btn btn-primary btn-primary-sm  col-md-8"
          style="margin-left:132px ; width250px"
        />          <br><br> 

      </form>
    </div>
  </div>
</div>

{% endblock %}
