{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Auto Car {% block title %}
    {% endblock %}   </title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %} " rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %} " rel="stylesheet">
    <link href="{% static 'css/bootstrap-grid.css' %} " rel="stylesheet">
    <link href="{% static 'css/bootstrap-grid.min.css' %} " rel="stylesheet">
    <link href="{% static 'css/bootstrap-reboot.css' %} " rel="stylesheet">
    <link href="{% static 'css/bootstrap-reboot.min.css' %} " rel="stylesheet">
    <link href="{% static 'css/main.css'%}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
  </head>
  <body>

    <main role="main">



      {% block content %}

      {% endblock %}


    </main>
  </div>
</div>
<script src="{% static 'js/jquery-3.4.1.slim.min.js' %}"></script>

    <script src="{% static 'js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
     <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
     <script src="{% static 'js/main.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
</html>
